footer.l-footer
  .o-gotop(onclick="lenis.scrollTo('body')")
  .o-gotop__arrow
    iconify-icon.u-icon.--sm(icon="fa-solid:long-arrow-alt-up")
  .o-gotop__text TOP
  ul.l-footer__menu
    li.l-footer__btn-wrap 
      a.l-footer__btn(href="about.html")
        span.l-footer__text.--zh 首頁
    li.l-footer__btn-wrap 
      a.l-footer__btn(href="news.html")
        span.l-footer__text.--zh 最新消息
    li.l-footer__btn-wrap 
      a.l-footer__btn(href="introduce.html")
        span.l-footer__text.--zh 遊戲介紹
    li.l-footer__btn-wrap 
      a.l-footer__btn(href="gallery.html")
        span.l-footer__text.--zh 畫廊
    li.l-footer__btn-wrap 
      a.l-footer__btn(href="product.html")
        span.l-footer__text.--zh 產品
    li.l-footer__btn-wrap 
      a.l-footer__btn(href="login.html")
        span.l-footer__text.--zh 登入/註冊
