meta(charset="UTF-8")
meta(name="robots", content="noindex, nofollow")
meta(http-equiv="x-rim-auto-match", content="none")
meta(name="format-detection", content="telephone=no")
meta(property="og:type", content="website")
meta(property="og:url", content=`${baseUrl}/${path}`)
meta(property="og:image", content="輸入絕對的圖片路徑")
- const title =`${pageTitle ? `${pageTitle} - ` : '' }`
meta(property="og:title", content="(專題作品)逃離塔科夫網頁修")
meta(property="og:description", content="將原先較為單調的網頁轉變成亞洲常見的日系RPG風格")
meta(name="description", content="")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
link(rel="icon", type="image/png", href="favicon/favicon-48x48.png", sizes="48x48")
link(rel="icon", type="image/svg+xml", href="favicon/favicon.svg")
link(rel="shortcut icon", href="favicon/favicon.ico")
link(rel="apple-touch-icon", sizes="180x180", href="favicon/apple-touch-icon.png")
meta(name="apple-mobile-web-app-title", content="EFT")
link(rel="manifest", href="favicon/site.webmanifest")

link(rel="preconnect", href="https://fonts.googleapis.com")
link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;500;900&family=Roboto:wght@700;900&display=swap", rel="stylesheet")

script(src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js")

link(rel="stylesheet" href="https://unpkg.com/lenis@1.1.18/dist/lenis.css")

link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous")
link(rel="stylesheet", href="./css/style.css")
title 塔科夫網頁翻修