-
    const baseUrl='http://127.0.0.1:5500/dist';
    const siteName='(試作專案)逃離塔科夫'
    let path='';
    let pageTitle='';
    let infoTitle='一款結合第一人稱射擊以及RPG風格的多人謝上遊戲';
    let description='最硬派最擬真，最細緻的武器客製化遊戲';
    let image='';